<div style="height: 85vh; overflow: scroll;" class="container text-center mb-3" (scroll)="onScroll($event)">
    <div class="text-center row-cols-xl-4 row-cols-md-2 row-cols-sm-1 row">
        <div *ngFor="let image of images; let i=index">
            <div (contextmenu)="onRightClick($event, image)">
                <img [src]="image.thumb" matTooltip="Right Click To Open Menu" matTooltipShowDelay="1000"
                    (click)="open(i)" class="m-2" style="max-width:256px" />
            </div>
        </div>
    </div>

    <div id="lightboxdiv">
    </div>
</div>

<div style="visibility: hidden; position: fixed;" [style.left]="menuTopLeftPosition.x"
    [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="rightMenu"></div>

<mat-menu #rightMenu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item matTooltip="Locate File In Manage Files Page" (click)="goToFile()"><i
                class="bi bi-search"></i> Find File </button>
    </ng-template>
</mat-menu>