<div style="min-height: 80vh">
    <div class="row row-cols-lg-auto g-3 align-items-center">
        <div *ngFor="let image of images; let i=index">
            <div class="col-12" (contextmenu)="onRightClick($event, image)">
                <img [src]="image.thumb" matTooltip="Right Click To Open Menu" matTooltipShowDelay="1000"  (click)="open(i)" class="m-2" style="max-width:256px" />
            </div>
        </div>
    </div>

    <div id="lightboxdiv">
    </div>
</div>

<app-controlled-paginator (controllerReady)="onPagingControllerReady($event)"></app-controlled-paginator>


<div style="visibility: hidden; position: fixed;" [style.left]="menuTopLeftPosition.x"
    [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="rightMenu"></div>

<mat-menu #rightMenu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item matTooltip="Locate File In Manage Files Page" (click)="goToFile()"><i class="bi bi-search"></i> Find File </button>
    </ng-template>
</mat-menu>