
.mat-column-operation {
  max-width: 70px;
}

.mat-column-operation {
  max-width: 70px;
}

.mat-column-dirName {
  max-width: 150px;
  padding-right: 8px;
}

.overflow-cell {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.overflow-cell::-webkit-scrollbar {
  display: none;
}

.mat-column-remark {
  max-width: 90px;
}

.overflow-cell {
  display: inline-block;
  max-width: 100%;
  padding-right: 8px;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.overflow-cell::-webkit-scrollbar {
  display: none;
}