<div>
    <h3 class="mt-2 mb-3">Manage Drone Tasks</h3>
</div>

<div *ngIf="createTaskPanelShown">
    <div class="container">
        <h4>New Task</h4>
        <div>
            <mat-form-field style="width: 100%">
                <mat-label>URL</mat-label>
                <input matInput (keyup)="urlKeyUp()" (keydown)="urlKeyDown()" [(ngModel)]="createTaskReq.url" />
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <mat-label>New Directory Name (Optional)</mat-label>
                <input matInput [(ngModel)]="createTaskReq.makeDirName" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Platform</mat-label>
                <mat-select [(value)]="createTaskReq.platform">
                    <mat-option [value]="option" *ngFor="let option of platforms">
                        {{option}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <mat-label>Parent Directory</mat-label>
                <input matInput disabled readonly [ngModel]="createTaskDirName" />
            </mat-form-field>
            <div class="ms-3">
                <app-dir-tree-nav title="Directory Tree" (selected)="selectDir($event)"></app-dir-tree-nav>
            </div>

            <div class="justify-content-end d-flex">
                <button mat-raised-button class="mt-1" (click)="createTask()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="d-flex flex-wrap gap-2">
        <mat-form-field style="width: 400px">
            <mat-label>Search URL</mat-label>
            <input matInput [(ngModel)]="listTaskReq.url" (keyup)="isEnterKey($event) && listTasks()" />
        </mat-form-field>
    </div>
</div>

<div>
    <div class="d-flex flex-wrap justify-content-end">
        <button mat-icon-button class="m-1 icon-button-large" [class.status-green]="createTaskPanelShown"
            (click)="toggleCreateTaskPanelShown()">
            <i class="bi bi-send-arrow-down"></i></button>
        <button mat-icon-button class="m-1 icon-button-large" (click)="listTasks()">
            <i class="bi bi-arrow-clockwise"></i>
        </button>
    </div>
</div>

<div class="mt-3 mb-5">
    <table mat-table [dataSource]="tabdata" class="mb-4" style="width: 100%;">
        <ng-container matColumnDef="taskId">
            <th mat-header-cell *matHeaderCellDef> Task Id </th>
            <td mat-cell *matCellDef="let u"> {{u.taskId}} </td>
        </ng-container>
        <ng-container matColumnDef="thumbnail">
            <th mat-header-cell *matHeaderCellDef> Thumbnail </th>
            <td mat-cell *matCellDef="let u">
                <div *ngIf="u.thumbnail">
                    <img style="max-height:60px; padding: 5px 0px 5px 0px;" [src]="u.thumbnail" />
                </div>
                <div *ngIf="!u.thumbnail" style="height:60px; padding: 5px 0px 5px 0px;">

                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let u">
                <span
                    [ngClass]="{ 'status-green' : u.status == 'COMPLETED', 'status-yellow' : u.status != 'COMPLETED'}">{{u.statusLabel}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="attempt">
            <th mat-header-cell *matHeaderCellDef> Attempt </th>
            <td mat-cell *matCellDef="let u"> {{u.attempt}} </td>
        </ng-container>
        <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef> Url </th>
            <td mat-cell *matCellDef="let u" [ngClass]="env.isMobile()?'p-2':''" style="overflow-wrap: anywhere;">
                <a style="color: whitesmoke" href="{{u.url}}" target="_blank">{{u.url}}</a>
            </td>
        </ng-container>
        <ng-container matColumnDef="platform">
            <th mat-header-cell *matHeaderCellDef style="min-width: 45px;"> Platform </th>
            <td mat-cell *matCellDef="let u" [ngClass]="env.isMobile()?'p-2 m-1':''" style="overflow-wrap: anywhere;">
                {{u.platform}} </td>
        </ng-container>
        <ng-container matColumnDef="dirName">
            <th mat-header-cell *matHeaderCellDef> Directory </th>
            <td mat-cell *matCellDef="let u" [ngClass]="env.isMobile()?'p-2':''" style="overflow-wrap: anywhere;">
                {{ u.trimmedDirName }} </td>
        </ng-container>
        <ng-container matColumnDef="fileCount">
            <th mat-header-cell *matHeaderCellDef> File Count </th>
            <td mat-cell *matCellDef="let u"> {{ u.fileCount }} </td>
        </ng-container>
        <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef> Update Time </th>
            <td mat-cell *matCellDef="let u"> {{ u.updatedAt | date: 'yyyy-MM-dd HH:mm:ss'}} </td>
        </ng-container>
        <ng-container matColumnDef="remark">
            <th mat-header-cell *matHeaderCellDef> Remark </th>
            <td mat-cell *matCellDef="let u">
                <pre class="ms-1" style="word-wrap: break-word; white-space: pre-wrap;" [matTooltip]="u.remark"
                    [matTooltipPosition]="'left'">{{ u.remarkShort }}</pre>
            </td>
        </ng-container>
        <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef> Operation </th>
            <td mat-cell *matCellDef="let u">
                <div class="d-flex gap-2 flex-wrap m-2">
                    <ng-container *ngIf="u.dirFileKey">
                        <button class="mat-raised-button small-btn" (click)="gotoDir(u.dirFileKey)">Open</button>
                    </ng-container>
                    <ng-container *ngIf="u.status == 'PENDING'">
                        <button class="mat-raised-button small-btn" (click)="cancelTask(u.taskId)">Cancel</button>
                    </ng-container>
                    <ng-container *ngIf="u.status != 'PENDING' && u.dirFileKey">
                        <button class="mat-raised-button small-btn" (click)="retryTask(u.taskId)">Retry</button>
                    </ng-container>
                    <ng-container *ngIf="u.status == 'COMPLETED' && u.dirFileKey">
                        <button class="mat-raised-button small-btn" (click)="clickUpdateTaskUrl(u)">Update</button>
                    </ng-container>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="headers">
        </tr>
        <tr mat-row *matRowDef="let row; columns: headers">
        </tr>
    </table>
</div>
<app-controlled-paginator (pageChanged)="listTasks()"></app-controlled-paginator>