<div class="container bootstrap p-3 mt-3 mb-5 shadow">
    <div class="mt-2 mb-3">
        <h3>Change Password</h3>
    </div>
    <mat-form-field appearance="fill" style="width: 100%;" class="m-1">
        <mat-label>Current Password</mat-label>
        <input matInput type="password" id="prevPasswordInput" [(ngModel)]="changePasswordParam.prevPassword">
        <button *ngIf="changePasswordParam.prevPassword" matSuffix aria-label="Clear"
            (click)="changePasswordParam.prevPassword=''" class="btn-close">
        </button>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;" class="m-1">
        <mat-label>New Password</mat-label>
        <input matInput type="password" id="newPasswordInput" [(ngModel)]="changePasswordParam.newPassword">
        <button *ngIf="changePasswordParam.newPassword" matSuffix aria-label="Clear"
            (click)="changePasswordParam.newPassword=''" class="btn-close">
        </button>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 100%;" class="m-1">
        <mat-label>Confirm New Password</mat-label>
        <input matInput type="password" id="confirmPasswordInput" [(ngModel)]="newPasswordConfirm">
        <button *ngIf="newPasswordConfirm" matSuffix aria-label="Clear" (click)="newPasswordConfirm=''"
            class="btn-close">
        </button>
    </mat-form-field>

    <div class="d-flex justify-content-end">
        <button mat-raised-button class="mt-2" (click)="changePassword()">Submit</button>
    </div>
</div>