<h1 mat-dialog-title>Manage Path Detail</h1>
<div mat-dialog-content>
    <!-- <p>Path: {{dat.path.pathNo}}</p> -->
    <p>Method: {{dat.path.method}}</p>
    <p>URL: {{dat.path.url}}</p>
    <p>Description: {{dat.path.desc}}</p>
    <p *ngIf="dat.path.ptype == 'PUBLIC'">Path Type: <span class="status-green">Public</span></p>
    <p *ngIf="dat.path.ptype == 'PROTECTED'">Path Type: <span class="status-red">Protected</span></p>


    <div>
        <mat-form-field>
            <mat-label>New Path Type:</mat-label>
            <mat-select [(value)]="dat.path.ptype">
                <mat-option [value]="option.val" *ngFor="let option of PATH_TYPES">
                    {{option.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Bind To Resource</mat-label>
            <input matInput type="text" [(ngModel)]="bindToResCode">
        </mat-form-field>
    </div>


    <div class="d-flex justify-content-end">
        <button mat-raised-button class="m-2" (click)="update()">Update</button>
    </div>
</div>