<div class="container bootstrap p-3 mt-3 mb-5 shadow" *ngIf="creatingFolder">
    <h4 class="mt-2 mb-2">New Folder</h4>

    <mat-form-field style="width: 100%;">
        <mat-label>Folder Name</mat-label>
        <input matInput type="text" [(ngModel)]="newFolderName">
        <button *ngIf="newFolderName" class="btn-close" matSuffix aria-label="Clear" (click)="newFolderName=''">
        </button>
    </mat-form-field>

    <div class="justify-content-md-end d-md-flex">
        <button mat-raised-button class="mt-2" (click)="createFolder()">Create</button>
    </div>
</div>

<mat-form-field style="width: 100%;" class="mb-1 mt-3">
    <mat-label>Virtual Folder Name:</mat-label>
    <input matInput type="text" [(ngModel)]="searchParam.name" (keyup)="onEnterPressed($event) && fetchFolders()">
    <button *ngIf="searchParam.name" matSuffix aria-label="Clear" (click)="searchParam.name=''" class="btn-close">
    </button>
</mat-form-field>


<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <button mat-raised-button class="m-2" *ngIf="isOneSelected" (click)="selectFolder(selected[0])">Open Folder</button>
    <button mat-raised-button class="m-2" *ngIf="isOneSelected && isOwner(selected[0])" (click)="popToGrantAccess(selected[0])">List Granted Access</button>
    <button mat-raised-button class="m-2" *ngIf="isOneSelected && isOwner(selected[0])" (click)="popToRemoveVFolder(selected[0])">Delete Folder</button>
    <button mat-raised-button class="m-2" [class.status-green]="creatingFolder" (click)="creatingFolder=!creatingFolder">Create Folder</button>
    <button mat-raised-button class="m-2" (click)="fetchFolders()">Fetch</button>
    <button mat-raised-button class="m-2" (click)="resetSearchParam()">Reset</button>
</div>

<mat-selection-list #folderList [multiple]="false" (selectionChange)="selectionChanged($event)">
    <mat-list-option *ngFor="let folder of folders" [value]="folder">
        <div matLine>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z" />
            </svg>
            {{folder.name}}
        </div>
        <p matLine>
            <span>&nbsp;&nbsp;By: {{folder.createBy}}</span>
        </p>
        <p matLine>
            <span>&nbsp;&nbsp;{{folder.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
        </p>
        <p matLine>
            <span>&nbsp;&nbsp;Folder No: {{folder.folderNo}}</span>
        </p>
    </mat-list-option>
</mat-selection-list>

<app-controlled-paginator (controllerReady)="onPagingControllerReady($event)"></app-controlled-paginator>