/* Original */
.go-to-container {
  display: flex;
  align-items: baseline;
  mat-form-field {
    width: 45px;
    margin: 6px 4px 2px 4px;
    font-size: 12px;
  }
  .go-to-label {
    margin: 0 4px;
    font-size: 12px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  margin-right: 8px;
}
