@import "../../animate/element-expand.css";

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shakebutton {
  animation: tilt-shaking 0.25s linear infinite;
}

.mat-column-name {
  max-width: 150px;
}

.mat-column-operation {
  max-width: 100px;
}

.mat-column-parentFileName {
  max-width: 150px;
}
